<iframe class="w-full h-full absolute" [src]="videoUrl" frameborder="0"></iframe>

<div class="h-screen bg-white">
  <div class="pt-[15%] px-24 absolute h-full text-white bg-gradient-to-r from-black">
    <h1 class="text-6xl font-bold">{{bannerTitle}}</h1>
    <p class="inline-block py-6 text-sm w-1/4 flex-wrap">{{bannerOverview}}</p>
  <div>
    <button class="bg-white text-black py-2 px-9 text-lg rounded-lg hover:bg-opacity-70 transition-[1s]">
      ▷ Play
    </button>
    <button class="mx-2 bg-gray-500 text-white py-2 px-9 text-lg rounded-lg bg-opacity-50">
      More Info
    </button>
  </div>
  </div>
</div>